# Path to the golang-puppet-ca source directory used as the Docker build context.
# Default: ../puppet-ca  (a sibling clone of the Go CA repo)
#
# Clone the Go CA alongside this repo first:
#   git clone https://github.com/trevor-vaughan/golang-puppet-ca ../puppet-ca
#
# Or set PUPPET_CA_SRC if your clone is elsewhere:
# PUPPET_CA_SRC=/path/to/golang-puppet-ca
